// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$bg-dark-blue: #023047;
$light-blue: #8ECAE6;
$blue: #219EBC;
$yellow: #FFB703;
$orange: #FB8500;

// vanta background
#anim_net {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $bg-dark-blue;
  /*Cover use when the animation doesn't work. ex:mobile*/
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100%;

  font-family: 'Open Sans', sans-serif !important;
}

.navbar {
  padding-top: 20px;
  position: fixed;
  z-index: 1000;
}

.nav-link {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  text-align: center;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  color: $blue;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


// content
.content {
  padding-top: 200px;
  padding-bottom: 20px;

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    color: $light-blue;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: $light-blue;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
    color: $yellow;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
    color: $blue;
    margin-bottom: 20px;
  }
}

.fade-section {
  /* Smooth transition for opacity */
  transition: opacity 0.5s;
}

#hero,
#about,
#projects,
#resume,
#contact {
  min-height: 100vh;
  padding-top: 100px;
}

// FOOTER
.site-footer {
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: $blue;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}
